header {
    background-color: #15141F;
    color: white;
    text-align: center;
    padding: 10px;
}

.divider {
    border: 1px solid #fff;
    width: 60px;
    height: 0px;
    transform: rotate(-90deg);
    display: inline-block;
    margin: 0 10px;
}

.btn-light {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border: none;
}

.logo {
    height: auto;
}

.category {
    width: 150px;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    font-weight: bold;
}


        .category::before,
        .category::after {
            content: "";
            position: absolute;
            height: 60px;
            width: 1px;
            background-color: #fff;
        }

        .category::before {
            left: 0;
        }

        .category::after {
            right: 0;
        }

.category-text {
        color: #fff;
        width: 190px;
    }

.custom-text {
font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
color: #000;
}

.font-title-bold {
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
color: #000;
}

.category-block {
        background-color: #000;
        color: #fff;
        padding: 20px;
        height: 100px;
        border-radius: 10px;
        text-align: center;
    }

    .category-text {
        margin: 0;
        font-weight: bold;
    }

.list-group-item {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.list-group-item:hover {
    background-color: #db9f86;
    color: #FFF;
}

.list-group-item.active {
    background-color: #db9f86 !important;
    color: #FFF;
    border: 1px solid #db9f86 !important;
}

.card {
    border-radius: 15px;
    border: 1px solid #000;
}

.card-header {
    background-color: #db9f86;
    color: #FFF;
    border-radius: 15px 15px 0 0;
}

.card-body {
    background-color: #FFF;
    color: #000;
}

        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1000;
            top: 0;
            right: -250px;
            background-color: #fff;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 60px;
            display: none;
        }

        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #000;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            background-color: #f1f1f1;
        }

        .sidebar .close-btn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        @media (max-width: 768px) {
            .logo {
                margin-right: 0 !important;
            }
            .divider {
                display: block;
            }
            .sidebar {
                right: 0;
            }
            .d-md-none {
                display: block !important;
            }
            .d-md-block {
                display: none !important;
            }
        }

.orange-button {
    background-color: #ff834f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.orange-button:hover {
    color: #fff;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }
}