<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Категорія Персонажів</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>

</head>

<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div th:replace="search :: search"></div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="list-tab" role="tablist">
                <a th:each="detail, iterStat : ${gameDetails}" class="list-group-item list-group-item-action"
                   th:id="'item' + (${iterStat.index + 1}) + '-list'"
                   th:data-toggle="modal"
                   th:data-target="'#item' + (${iterStat.index + 1})"
                   role="tab"
                   th:text="${detail.name}">Предмет</a>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Содержимое модального окна для каждого элемента списка -->
            <div th:each="detail, iterStat : ${gameDetails}" class="modal fade"
                 th:id="'item' + (${iterStat.index + 1})"
                 tabindex="-1"
                 role="dialog"
                 aria-labelledby="'item' + (${iterStat.index + 1}) + '-title'"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-right" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:id="'item' + (${iterStat.index + 1}) + '-title'"
                                th:text="${detail.name}">Предмет</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text="${detail.source}" class="font-weight-bold">Джерело</p>
                            <p th:text="${detail.description}">Описание предмета</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Кнопка добавления в избранное -->
                            <div sec:authorize="isAuthenticated()">
                                <a th:href="@{'/favoriteCreateChar?ruleId=' + ${detail.id}}" class="btn btn-primary orange-button">Додати в обране</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/create/' + ${game.name} + '/Character'}" class="btn btn-primary orange-button">Створити новий предмет</a>
</div>

<div th:replace="footer :: footer"></div>

<script>function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.display === "block") {
            sidebar.style.display = "none";
        } else {
            sidebar.style.display = "block";
        }
    }</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>