<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Hello, Bootstrap!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<div th:replace="header :: header"></div>

<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
    <h1 class="text-center font-weight-bold" th:text="${category}">Название категории</h1>
</div>

<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <form class="form-inline">
                <input class="form-control mr-sm-2 w-75" type="search" placeholder="Пошук" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0 ml-2" style="background-color: #FF4C00;" type="submit">Знайти</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="item1-list" data-toggle="list" href="#item1" role="tab">Предмет 1</a>
                <a class="list-group-item list-group-item-action" id="item2-list" data-toggle="list" href="#item2" role="tab">Предмет 2</a>
                <a class="list-group-item list-group-item-action" id="item3-list" data-toggle="list" href="#item3" role="tab">Предмет 3</a>
                <a class="list-group-item list-group-item-action" id="item4-list" data-toggle="list" href="#item4" role="tab">Предмет 4</a>
                <a class="list-group-item list-group-item-action" id="item5-list" data-toggle="list" href="#item5" role="tab">Предмет 5</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="item1" role="tabpanel" aria-labelledby="item1-list">
                    <h4>Предмет 1</h4>
                    <p>Описание предмета 1</p>
                </div>
                <div class="tab-pane fade" id="item2" role="tabpanel" aria-labelledby="item2-list">
                    <h4>Предмет 2</h4>
                    <p>Описание предмета 2</p>
                </div>
                <div class="tab-pane fade" id="item3" role="tabpanel" aria-labelledby="item3-list">
                    <h4>Предмет 3</h4>
                    <p>Описание предмета 3</p>
                </div>
                <div class="tab-pane fade" id="item4" role="tabpanel" aria-labelledby="item4-list">
                    <h4>Предмет 4</h4>
                    <p>Описание предмета 4</p>
                </div>
                <div class="tab-pane fade" id="item5" role="tabpanel" aria-labelledby="item5-list">
                    <h4>Предмет 5</h4>
                    <p>Описание предмета 5</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>