<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Категорія Персонажів</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<div th:replace="header :: header"></div>

<div th:replace="search :: search"></div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="list-tab" role="tablist">
                <a th:each="detail, iterStat : ${gameDetails}" class="list-group-item list-group-item-action"
                   th:id="'item' + (${iterStat.index + 1}) + '-list'"
                   th:data-toggle="list"
                   th:href="'#item' + (${iterStat.index + 1})"
                   role="tab"
                   th:text="${detail.name}">Предмет</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tab-content" id="nav-tabContent">
                <div th:each="detail, iterStat : ${gameDetails}" class="tab-pane fade"
                     th:id="'item' + (${iterStat.index + 1})"
                     role="tabpanel"
                     th:aria-labelledby="'item' + (${iterStat.index + 1}) + '-list'">
                    <h4 th:text="${detail.name}">Предмет</h4>
                    <p th:text="${detail.source}" class="font-weight-bold">Джерело</p>
                    <p th:text="${detail.description}">Опис предмета</p>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{'/favoriteCreate?ruleId=' + ${detail.id}}" class="btn btn-primary" style="background-color: #FF4C00;">Додати в обране</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/create/' + ${game.name} + '/Character'}" class="btn btn-primary" style="background-color: #FF4C00;">Створити новий предмет</a>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>