<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle}">Категорія Спорядження</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>
</head>

<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div th:replace="search :: search"></div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group" id="list-tab" role="tablist">
                <a th:each="detail, iterStat : ${gameDetails}" class="list-group-item list-group-item-action"
                   th:id="'item' + (${iterStat.index + 1}) + '-list'"
                   th:data-toggle="list"
                   th:href="'#item' + (${iterStat.index + 1})"
                   role="tab"
                   th:text="${detail.name}">Предмет</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tab-content" id="nav-tabContent">
                <div th:each="detail, iterStat : ${gameDetails}" class="tab-pane fade"
                     th:id="'item' + (${iterStat.index + 1})"
                     role="tabpanel"
                     th:aria-labelledby="'item' + (${iterStat.index + 1}) + '-list'">
                    <h4 th:text="${detail.name}">Предмет</h4>
                    <p th:text="${detail.source}" class="font-weight-bold">Джерело</p>
                    <p th:text="${detail.description}">Опис предмета</p>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{'/favoriteCreateEquip?ruleId=' + ${detail.id}}" class="btn btn-primary orange-button">Додати в обране</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5" sec:authorize="hasRole('ROLE_ADMIN')">
    <a th:href="@{'/create/' + ${game.name} + '/Equipment'}" class="btn btn-primary orange-button" >Створити новий предмет</a>
</div>

<div th:replace="footer :: footer"></div>

<script>
    function toggleSidebar() {
    var sidebar = document.getElementById("sidebar");
    if (sidebar.style.right === "-250px") {
        sidebar.style.right = "0";
    } else {
        sidebar.style.right = "-250px";
    }
}
</script>

</body>

</html>