<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: auto;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #dc3545;
        }
        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <img src="/static/images/error.png">
    <h1>Упс...</h1>
    <p>Щось погане сталося</p>
</div>
</body>
</html>