<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Друзi</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="text-center mt-5">
    <h1 class="custom-text font-weight-bold">ДРУЗI</h1>
    <div class="mx-auto" style="max-width: 900px;">
        <p class="lead custom-text">Тут ми зібрали всі канали, чати та сайти українського нрі які ми вам рекомендуємо відвідати. Тут також є короткий опис цих медіа.</p>
    </div>
</div>

<div class="container mt-5" style="margin-right: 50px;">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <h1 class="font-title-bold">TTRPG Ukraine fortress</h1>
            <p class="custom-text">Каталог, у якому зібрані посилання всіх медіаресурів і субспільнот нашої зростаючої української спільноти настільних рольових ігор.</p>
            <div class="row">
                <div class="col-md-3 offset-md-5 mt-5">
                    <a href="https://telegra.ph/TTRPG-Ukraine-fortress-01-01" class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px;">ПЕРЕЙТИ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/images/logoSiteCustle.jpg" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container mt-5" style="margin-left: 100px;">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <img src="/static/images/diceAndBonesLogo.jpg" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <h1 class="font-title-bold">Dice & Bones</h1>
            <p class="custom-text">Всім привіт! Ми — Dice&Bones, друзі-ґіки, що грають в Dungeons&Dragons та весело проводять час. Наша мета — популяризація НРІ, цього чудового гобі, розвиток української спільноти та створення власного унікального контенту на основі наших пригод.

                На нашому Youtube каналі щотижня виходять епізоди нашої величезної кампанії в авторському світі Альвамар, також ви знайдете там плейлисти та відео по тому як навчитися грати та водити днд, поради та підказки, відео про лор Альвамару та багато іншого.

                Цікаво? Тоді підписуйся і побачимося в майбутньому!</p>
            <a href="https://www.youtube.com/@diceandbonesdnd" class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px; display: block; text-align: center; line-height: 72px;">ПЕРЕЙТИ</a></button>
        </div>
    </div>
</div>

<!--<div class="container mt-5" style="margin-right: 50px;">-->
<!--    <div class="row" style="margin-bottom: 60px;">-->
<!--        <div class="col-md-6">-->
<!--            <h1 class="font-title-bold">Де Мої Куби?</h1>-->
<!--            <p class="custom-text">Ми досвідчені ведучі настільних рольових ігор, і на цьому каналі ми говоримо про ролівки, ділимося думками щодо підготовки до гри, її проведення, нюансів різних рольових систем і сетінгів, а також роботи з гравцями.-->
<!--                Наша ціль - популяризувати настільні рольові ігри, поділитися власним досвідом із іншими досвідченими майстрами, та допомогти порадами ведучим-початківцям.</p>-->
<!--            <div class="row">-->
<!--                <div class="col-md-3 offset-md-5 mt-5">-->
<!--                    <a href="https://www.youtube.com/@d-m-k" class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px;">ПЕРЕЙТИ</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="/static/images/deKubyLogo.jpg" alt="Описание изображения"  style="width: 100%; height: auto;">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container mt-5" style="margin-left: 100px;">-->
<!--    <div class="row" style="margin-bottom: 60px;">-->
<!--        <div class="col-md-6">-->
<!--            <img src="/static/images/ThisisGothicPunkLogo.jpg" alt="Описание изображения"  style="width: 100%; height: auto;">-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <h1 class="font-title-bold">This is Gothic Punk</h1>-->
<!--            <p class="custom-text">Привіт! Ми – троє друзів що також є НРІ майстрами. Проте так вийшло, що нам водити популярне й зрозуміле всім DnD не дуже цікаво. У світі існує безліч неймовірних систем, що пропонують не тільки нові вдалі ігрові механіки але й глибокі прописані світи про які, нажаль, знає занадто мало людей…-->

<!--                Ми хочемо зробити такі системи доступнішими і як наслідок популярнішими серед гравців НРІ. Саме тому вирішили створити зручні відео матеріали та приємні підказки. Сподіваємося вони стануть вам у нагоді, а подякувати можете підписавшись)</p>-->
<!--            <a href="https://www.youtube.com/@thisisgothicpunk" class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px; display: block; text-align: center; line-height: 72px;">ПЕРЕЙТИ</a></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container mt-5" style="margin-right: 50px;">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <h1 class="font-title-bold">ХардРок Настілки: Кайола & Ко</h1>
            <p class="custom-text">Це канал про Настільні Ігри і те, що з ними пов'язано. Структурований зміст тематик каналу наводжу нижче.

                РОЛЬОВІ ІГРИ
                ○ Сетінги:
                ● МтГ (Іністрад, тощо);
                ● ДнД (Бестіарій, Фейрун, тощо);
                ● Світ Пітьми (Маскарад Вампірів, тощо);
                ● Старфайндер;
                ○ Текстові рольові ігри:
                ● Влоги (в т.ч. про літературу);
                ● Озвучування ФРПГ (Втрачена Копальня, тощо);
                ○ Акустичний супровід рольовок;
                ○ Крафт антуражу для НРІ
                ІНШІ НАСТІЛКИ
                ○ Варгейми:
                ● Пофарбування мініатюр;
                ● Український Хард&Хеві супровід;
                ○ МтГ (Меджик зе Гезерінг)
                ● Розпаковки бустерів</p>
            <div class="row">
                <div class="col-md-3 offset-md-5 mt-5">
                    <a href="https://www.youtube.com/@kayola_art/videos" class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px;">ПЕРЕЙТИ</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/images/KayolaLogo.jpg" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>
</body>
</html>