<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Каталог iгор</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>
</head>

<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div class="text-center mt-5">
    <h1 class="custom-text font-weight-bold">IГРИ</h1>
    <div class="mx-auto" style="max-width: 900px;">
        <p class="lead custom-text">Тут знаходиться каталог ігор, створених або перекладених нашою або іншою студією, клікнувши на обкладинки ви можете відкрити їх сторiнки де знайдете онлайн довідник з обраної гри. Вони оновлюються та доповнюються.</p>
    </div>
</div>

<div class="d-flex flex-wrap mt-5 ml-5 mb-5">
    <div class="mr-5 text-center game-block" th:each="game : ${games}">
        <a th:href="@{/game/{name}(name=${game.name})}" class="">
            <img th:src="@{${game.imageUrl}}" th:alt="${game.name}">
        </a>
        <p class="custom-text font-weight-bold" th:text="${game.name}"></p>
    </div>
</div>

<div class="container mt-5 mb-5" sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/createNewGame" class="btn btn-primary" style="background-color: #FF4C00;">Створити нову гру</a>
</div>

<div th:replace="footer :: footer"></div>

<script src="static/js/script.js"></script>

</body>

</html>