<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hogwarts Site</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<header class="container-fluid">
    <a href="/" class="logo btn btn-link p-0 mr-5">
        <img src="/static/images/Chanel%20Logo.png" alt="Логотип" class="logo">
    </a>
    <a href="/games-catalog" class="btn btn-light font-weight-bold">IГРИ</a>
    <div class="divider"></div>
    <a href="https://www.youtube.com/@tepli-nastolki/videos" target="_blank" class="btn btn-light font-weight-bold">ВІДЕО</a>
    <div class="divider"></div>
    <a href="https://www.youtube.com/@tepli-nastolki/videos" target="_blank" class="btn btn-light font-weight-bold">СТРIМИ</a>
    <div class="divider"></div>
    <button class="btn btn-light font-weight-bold">ДРУЗІ</button>
    <div class="divider"></div>
    <button class="btn btn-light font-weight-bold">ІНФОРМАЦІЯ</button>
    <div class="divider"></div>
    <a href="https://www.buymeacoffee.com/teplinastolki" class="btn btn-light font-weight-bold">ПІДТРИМКА</a>
    <a href="#" class="btn btn-light ml-2 ml-5 font-weight-bold" style="width: 89px; height: 67px; border: 1px solid #fff; text-align: center; line-height: 48px;">Вхiд</a>
</header>

<img src="/static/images/BigArtHogwarts.png" width="100%">
<div>
    <div class="d-flex align-items-center">
        <p class="custom-text ml-5" style="width: 850px;">Ласкаво просимо до Гоґвортсу! Ви збираєтеся сплести історію про таємниці, дружбу, небезпеку та магію. Цей посібник навчить вас грати в гру, ознайомивши вас з усім для першої сесії. Посібник достатньо прочитати тільки одному гравцю та Оповідачу. Усі інші можуть вчитися на їх грі. Давайте почнемо!</p>
        <div class="ml-auto">
            <a href="https://drive.google.com/file/d/1oHWk77AKFZpPCCApyMnKZ-reYLVWEOHL/view" class="btn btn-primary font-title-bold mr-5" style="background-color: #FF4C00; width: 300px; height: 100px; line-height: 72px;">ГРАТИ</a>
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
    <h1 class="text-center font-weight-bold">ДОВІДНИК</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">ПРАВИЛА</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">ЗАКЛИНАННЯ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">МАГІЧНІ ПРЕДМЕТИ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">МАГІЧНІ ІСТОТИ</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">ПЕРСОНАЖ</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="#" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">ЛИСТИ</p>
                </div>
            </a>
        </div>
    </div>
</div>

<footer class="container-fluid" style="background-color: #15141F;">
    <div class="container" style="max-width: 1440px; height: 400px;">
        <div class="row justify-content-center">

            <div class="col-md-3 text-center">
                <div class="category">ПРО НАС</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">КОНТАКТИ</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">IНШЕ</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">МЕРЕЖІ</div>
            </div>
        </div>


        <div class="row justify-content-center mt-3">

            <div class="col-md-3">
                <div class="category-text">Ми група друзів, що зібралася в 2022 році і почала створювати контент на ютубі. Тепер ми створюємо ігри та намагаємось творити нове для української аудиторії.</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">denis.petrov56245@gmail.com</br>alexandr.frankovskyi@gmail.com</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">Тут особливо важлива (ні) інформація.</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">
                    <div class="mt-2">
                        <a href="https://www.youtube.com/channel/UCPLiMb2I5EfgzNjBJUHVFCg" target="_blank" class="btn btn-danger">YouTube</a>
                        <a href="https://t.me/teplinastolki" target="_blank" class="btn btn-primary">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
