<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Інформація про нас</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>
</head>

<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1>Інформація</h1>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Про ігри
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Ігри у категорії "ігри" на цьому сайті можуть бути не наші. Це може бути гра іншого автора або переклад українською мовою та розміщена за згодою або без порушення авторських прав. Для знаходження автора оригінальної гри дивіться пдф файл гри з правилами. Якщо у вас є зауваження щодо порушення авторських прав, зв'яжіться з нами. При порушенні авторських прав гра або інший контент у категорії "ігри" може бути видалено.
                            <br>
                            <br>
                            Ми підтримуємо співтовариство наших ігор. Ми надаємо повний дозвіл на створення будь-якого контенту на основі наших ігор (ігри в правилах яких за авторством вказана наша студія або один з учасників). Такий контент може бути розміщено у відповідних категоріях ігор.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script src="static/js/script.js"></script>



</body>

</html>