<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Теплi Настолки</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="/static/css/stylesTest.css">-->
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>

</head>
<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<img src="/static/images/global%20art.png" width="100%">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/gameprew.png" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <h1 class="font-title-bold">IГРИ</h1>
            <p class="custom-text">Ласкаво просимо на сторінку нашої студії ігор! Ми - команда творців, яка занурена у світ найкращого геймдеву. В кожній грі, яку ми створюємо, ми прокладаємо шлях у неймовірний світ пригод та непередбачуваних вражень. Ми віримо у те, що нрi - це не лише механiки та правила. Це жива історія, що запам'ятовується. Ми не просто створюємо ігри, ми втілюємо фантазії, та надихаємо наших гравців переживати емоції, які вони раніше навіть не уявляли. Кожен проект для нас - це окремий світ з унікальною атмосферою та глибоким сюжетом. Ми працюємо над кожною деталлю, від персонажів до архітектури світу, щоб створити найбільш захопливий геймплей.</p>
            <a href="/games-catalog" class="btn btn-primary font-title-bold mt-5 orange-button" style="width: 300px; height: 100px; display: block; text-align: center; line-height: 72px;">ПЕРЕЙТИ</a></button>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="font-title-bold">СТРIМИ</h1>
            <p class="custom-text">Що може бути кращим за уявний світ, де кожен крок визначається кидком кубика та геніальністю Мастера Гри? Ласкаво запрошуємо вас відчути атмосферу наших стрімів-партій, де майстерність зливається з веселощами, а фантазія розцвітає на екранах ваших гаджетів. </br> </br> Стрiми відрізняються від наших відео на ютубі, на них ви можете побачити наші справжні партії. Пригоди повні дивовижних подій та несподіваних сюжетних поворотів.</p>
            <div class="row">
                <div class="col-md-3 offset-md-5 mt-5">
                    <button class="btn btn-primary font-title-bold mt-5 orange-button" style="width: 300px; height: 100px;">ПЕРЕЙТИ</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/images/SanyaFoto.png" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container text-center mt-5" style="margin-bottom: 100px;">
    <p class="custom-text">Ми будемо дуже раді вашій підтримці. Ми хочемо творити і створювати, але для цього часто потрібні кошти, ви можете нам їх надати віддячивши за старання.</p>
    <a href="https://www.buymeacoffee.com/teplinastolki" class="btn btn-primary font-title-bold mt-3 orange-button" style="width: 300px; height: 100px; line-height: 80px;">ПІДТРИМАТИ</a>
</div>

<div th:replace="footer :: footer"></div>

<script src="static/js/script.js"></script>

</body>
</html>