<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<header class="container-fluid">
    <a href="#" class="logo btn btn-link p-0 mr-5">
        <img src="/static/images/Chanel%20Logo.png" alt="Логотип" class="logo">
    </a>
    <button class="btn btn-light font-weight-bold">IГРИ</button>
    <div class="divider"></div>
    <a href="https://www.youtube.com/@tepli-nastolki/videos" target="_blank" class="btn btn-light font-weight-bold">ВІДЕО</a>
    <div class="divider"></div>
    <a href="https://www.youtube.com/@tepli-nastolki/videos" target="_blank" class="btn btn-light font-weight-bold">СТРIМИ</a>
    <div class="divider"></div>
    <button class="btn btn-light font-weight-bold">ДРУЗІ</button>
    <div class="divider"></div>
    <button class="btn btn-light font-weight-bold">ІНФОРМАЦІЯ</button>
    <div class="divider"></div>
    <a href="https://www.buymeacoffee.com/teplinastolki" class="btn btn-light font-weight-bold">ПІДТРИМКА</a>
    <a href="#" class="btn btn-light ml-2 ml-5 font-weight-bold" style="width: 89px; height: 67px; border: 1px solid #fff; text-align: center; line-height: 48px;">Вхiд</a>
</header>

<img src="/static/images/global%20art.png" width="100%">

<div class="container mt-5" style="margin-left: 100px;">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <img src="/static/images/gameprew.png" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
        <div class="col-md-6">
            <h1 class="font-title-bold">IГРИ</h1>
            <p class="custom-text">Ласкаво просимо на сторінку нашої студії ігор! Ми - команда творців, яка занурена у світ найкращого геймдеву. В кожній грі, яку ми створюємо, ми прокладаємо шлях у неймовірний світ пригод та непередбачуваних вражень. Ми віримо у те, що нрi - це не лише механiки та правила. Це жива історія, що запам'ятовується. Ми не просто створюємо ігри, ми втілюємо фантазії, та надихаємо наших гравців переживати емоції, які вони раніше навіть не уявляли. Кожен проект для нас - це окремий світ з унікальною атмосферою та глибоким сюжетом. Ми працюємо над кожною деталлю, від персонажів до архітектури світу, щоб створити найбільш захопливий геймплей.</p>
            <button class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px;">ПЕРЕЙТИ</button>
        </div>
    </div>
</div>

<div class="container mt-5" style="margin-right: 50px;">
    <div class="row" style="margin-bottom: 60px;">
        <div class="col-md-6">
            <h1 class="font-title-bold">СТРIМИ</h1>
            <p class="custom-text">Що може бути кращим за уявний світ, де кожен крок визначається кидком кубика та геніальністю Мастера Гри? Ласкаво запрошуємо вас відчути атмосферу наших стрімів-партій, де майстерність зливається з веселощами, а фантазія розцвітає на екранах ваших гаджетів. </br> </br> Стрiми відрізняються від наших відео на ютубі, на них ви можете побачити наші справжні партії. Пригоди повні дивовижних подій та несподіваних сюжетних поворотів.</p>
            <div class="row">
                <div class="col-md-3 offset-md-5 mt-5">
                    <button class="btn btn-primary font-title-bold mt-5" style="background-color: #FF4C00; width: 300px; height: 100px;">ПЕРЕЙТИ</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/images/SanyaFoto.png" alt="Описание изображения"  style="width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container text-center mt-5" style="margin-bottom: 100px;">
    <p class="custom-text">Ми будемо дуже раді вашій підтримці. Ми хочемо творити і створювати, але для цього часто потрібні кошти, ви можете нам їх надати віддячивши за старання.</p>
    <a href="https://www.buymeacoffee.com/teplinastolki" class="btn btn-primary font-title-bold mt-3" style="background-color: #FF4C00; width: 300px; height: 100px; line-height: 80px;">ПІДТРИМАТИ</a>
</div>

<footer class="container-fluid" style="background-color: #15141F;">
    <div class="container" style="max-width: 1440px; height: 400px;">
        <div class="row justify-content-center">
        
            <div class="col-md-3 text-center">
                <div class="category">ПРО НАС</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">КОНТАКТИ</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">IНШЕ</div>
            </div>


            <div class="col-md-3 text-center">
                <div class="category">МЕРЕЖІ</div>
            </div>
        </div>


        <div class="row justify-content-center mt-3">

            <div class="col-md-3">
                <div class="category-text">Ми група друзів, що зібралася в 2022 році і почала створювати контент на ютубі. Тепер ми створюємо ігри та намагаємось творити нове для української аудиторії.</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">denis.petrov56245@gmail.com</br>alexandr.frankovskyi@gmail.com</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">Тут особливо важлива (ні) інформація.</div>
            </div>


            <div class="col-md-3">
                <div class="category-text">
                    <div class="mt-2">
                        <a href="https://www.youtube.com/channel/UCPLiMb2I5EfgzNjBJUHVFCg" target="_blank" class="btn btn-danger">YouTube</a>
                        <a href="https://t.me/teplinastolki" target="_blank" class="btn btn-primary">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
