<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пости</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>

</head>
<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div class="container mt-5">
    <div class="col-md-12">
        <h5 th:text="${post.name}" class="font-title-bold" style="max-width: 100%; word-wrap: break-word;"></h5>
        <p>
            <span th:text="'Автор: ' + ${user.username}"></span>
            <span class="post-date" th:text="'Дата створення: ' + ${#dates.format(post.createdDate, 'dd.MM.yyyy HH:mm')}"></span>
        </p>
        <div class="card-body" th:if="${post.base64 != null}">
            <img th:src="'data:image/jpeg;base64,' + ${post.base64}" style="max-width: 1280px; max-height: 720px;">
        </div>
        <p class="custom-text post-description" th:utext="${post.description}" style="max-width: 100%; word-wrap: break-word; white-space: pre-wrap;"></p>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButtons = document.querySelectorAll(".btn-toggle-description");

            toggleButtons.forEach(button => {
                button.addEventListener("click", function() {
                    const postDescription = this.previousElementSibling;
                    if (postDescription.classList.contains("expanded")) {
                        postDescription.classList.remove("expanded");
                        this.textContent = "Показати більше";
                    } else {
                        postDescription.classList.add("expanded");
                        this.textContent = "Сховати";
                    }
                    // Обрабатываем ссылки после изменения состояния
                    makeLinksClickable(postDescription);
                });
            });

            // Function to make URLs in text clickable
            function makeLinksClickable(description) {
                let text = description.innerHTML;
                const urlPattern = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
                text = text.replace(urlPattern, '<a href="$1" target="_blank">$1</a>');
                description.innerHTML = text;
            }

            // Initial link processing for all descriptions
            document.querySelectorAll(".post-description").forEach(description => makeLinksClickable(description));
        });
    </script>

<script src="static/js/script.js"></script>
</body>
</html>