<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пости</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        /* Стили для скрытия/показа заголовков в зависимости от ширины экрана */

        /* Скрытие заголовка на мобильных устройствах (ширина до 768px) */
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }
        }

        /* Скрытие заголовка на ПК (ширина от 769px и выше) */
        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }
        }
    </style>

</head>
<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<div class="text-center mt-5">
    <h1 class="custom-text font-weight-bold">Пости</h1>
    <div class="mx-auto" style="max-width: 900px;">
        <p class="lead custom-text">Дорогі відвідувачі сайту тут можуть залишати будь-які пости. Ця сторінка майже не контролюється, тому тут може відбуватися все що завгодно. Користувачі можуть влаштувати повну анархію або поводитися культурно. Тут можна писати статті, набори гравців, пошуки майстра або просто меми по нрі.</p>
        <p class="lead custom-text">(Зареєструйтесь та увійдіть до облікового запису щоб писати нові пости)</p>
    </div>
</div>


<div th:if="${#authorization.expression('isAuthenticated()')}">
    <div class="container mt-5">
        <form th:action="@{/post-create}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Назва поста:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="description">Опис:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Зображення:</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <button type="submit" class="btn  orange-button">Додати пост</button>
        </form>
    </div>
</div>

<!--<div class="container mt-5">-->
<!--    <div th:each="post : ${posts}" class="mb-3 post-container row">-->
<!--        <div class="col-md-12">-->
<!--            <h5 th:text="${post.name}" class="font-title-bold" style="max-width: 100%; word-wrap: break-word;"></h5>-->
<!--            <p>-->
<!--                <span th:text="'Автор: ' + ${userMap[post.userId].username}"></span>-->
<!--                <span class="post-date" th:text="'Дата створення: ' + ${#dates.format(post.createdDate, 'dd.MM.yyyy HH:mm')}"></span>-->
<!--            </p>-->
<!--            <div class="card-body" th:if="${post.base64 != null}">-->
<!--                <img th:src="'data:image/jpeg;base64,' + ${post.base64}" style="max-width: 1280px; max-height: 720px;">-->
<!--            </div>-->
<!--            <p class="custom-text post-description" th:text="${post.description}" style="max-width: 100%; word-wrap: break-word;"></p>-->
<!--            <button class="btn btn-toggle-description orange-button">Показати більше</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="container mt-5">-->
<!--    <div th:each="post : ${posts}" class="mb-3 post-container row">-->
<!--        <div class="col-md-12">-->
<!--            <h5 th:text="${post.name}" class="font-title-bold" style="max-width: 100%; word-wrap: break-word;"></h5>-->
<!--            <p>-->
<!--                <span th:text="'Автор: ' + ${userMap[post.userId].username}"></span>-->
<!--                <span class="post-date" th:text="'Дата створення: ' + ${#dates.format(post.createdDate, 'dd.MM.yyyy HH:mm')}"></span>-->
<!--            </p>-->
<!--            <div class="card-body" th:if="${post.base64 != null}">-->
<!--                <img th:src="'data:image/jpeg;base64,' + ${post.base64}" style="max-width: 1280px; max-height: 720px;">-->
<!--            </div>-->
<!--            <p class="custom-text post-description" th:utext="${post.description}" style="max-width: 100%; word-wrap: break-word;"></p>-->
<!--            <button class="btn btn-toggle-description orange-button">Показати більше</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container mt-5">
    <div th:each="post : ${posts}" class="mb-3 post-container row">
        <div class="col-md-12">
            <h5 th:text="${post.name}" class="font-title-bold" style="max-width: 100%; word-wrap: break-word;"></h5>
            <p>
                <span th:text="'Автор: ' + ${userMap[post.userId].username}"></span>
                <span class="post-date" th:text="'Дата створення: ' + ${#dates.format(post.createdDate, 'dd.MM.yyyy HH:mm')}"></span>
            </p>
            <div class="card-body" th:if="${post.base64 != null}">
                <img th:src="'data:image/jpeg;base64,' + ${post.base64}" style="max-width: 1280px; max-height: 720px;">
            </div>
            <p class="custom-text post-description" th:utext="${post.description}" style="max-width: 100%; word-wrap: break-word; white-space: pre-wrap;"></p>
            <button class="btn btn-toggle-description orange-button">Показати більше</button>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButtons = document.querySelectorAll(".btn-toggle-description");

            toggleButtons.forEach(button => {
                button.addEventListener("click", function() {
                    const postDescription = this.previousElementSibling;
                    if (postDescription.classList.contains("expanded")) {
                        postDescription.classList.remove("expanded");
                        this.textContent = "Показати більше";
                    } else {
                        postDescription.classList.add("expanded");
                        this.textContent = "Сховати";
                    }
                    // Обрабатываем ссылки после изменения состояния
                    makeLinksClickable(postDescription);
                });
            });

            // Function to make URLs in text clickable
            function makeLinksClickable(description) {
                let text = description.innerHTML;
                const urlPattern = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
                text = text.replace(urlPattern, '<a href="$1" target="_blank">$1</a>');
                description.innerHTML = text;
            }

            // Initial link processing for all descriptions
            document.querySelectorAll(".post-description").forEach(description => makeLinksClickable(description));
        });
    </script>

<script src="static/js/script.js"></script>
</body>
</html>