<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${game.name}">Гра</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <link rel="icon" type="image/x-icon" href="/static/images/Chanel%20Logo.png">

    <style>
        @media (max-width: 768px) {
            .header-desktop {
                display: none;
            }

            .custom-text {
            font-size: 16px;
            }

            .btn-primary.orange-button {
            width: 150px;
        }
            }

        @media (min-width: 769px) {
            .header-mobile {
                display: none;
            }

            .btn-primary.orange-button {
            width: 300px;
        }
        }
    </style>
</head>

<body>

<div class="header-desktop">
    <header th:replace="header :: header">
    </header>
</div>

<div class="header-mobile">
    <header th:replace="headerMobil :: header">
    </header>
</div>

<img th:src="@{${game.BigImageUrl}}" width="100%">

<div>
    <div class="d-flex align-items-center">
        <p class="custom-text ml-5" style="width: 850px;" th:text="${game.description}"></p>
        <div class="ml-auto">
            <a th:href="@{${game.link}}" class="btn btn-primary font-title-bold mr-5 orange-button" style=" height: 100px; line-height: 72px;">ГРАТИ</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4" th:each="game : ${games}">
            <a th:href="@{/game/{id}(id=${game.id})}" class="">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;" th:text="${game.name}"></p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center mt-5">
    <h1 class="text-center font-weight-bold">ДОВІДНИК</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <a th:href="@{'/game/' + ${game.name} + '/Rules'}" class="btn">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">Правила</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a th:href="@{'/game/' + ${game.name} + '/Items'}" class="btn">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">Предмети</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a th:href="@{'/game/' + ${game.name} + '/Character'}" class="btn">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">Персонажи</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a th:href="@{'/game/' + ${game.name} + '/Equipment'}" class="btn">
                <div class="category-block">
                    <p class="category-text ml-3" style="line-height: 50px;">Спорядження</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div th:replace="footer :: footer"></div>

<script src="static/js/script.js"></script>

<script>function toggleSidebar() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.display === "block") {
            sidebar.style.display = "none";
        } else {
            sidebar.style.display = "block";
        }
    }</script>

</body>

</html>
