<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game Rules</title>
</head>
<body>
<h1>Game Rules</h1>
<div th:each="rule : ${gameRules}">
    <div th:if="${rule != null}">
        <div th:text="${rule.name}"></div>
        <div th:text="${rule.description}"></div>
    </div>
</div>
<h1>Game Item</h1>
<div th:each="item : ${gameItem}">
    <div th:if="${item != null}">
        <div th:text="${item.name}"></div>
        <div th:text="${item.description}"></div>
    </div>
</div>
<h1>Game Equip</h1>
<div th:each="equip : ${gameEquip}">
    <div th:if="${equip != null}">
        <div th:text="${equip.name}"></div>
        <div th:text="${equip.source}"></div>
        <div th:text="${equip.description}"></div>
    </div>
</div>
<h1>Game Character</h1>
<div th:each="char : ${gameChar}">
    <div th:if="${char != null}">
        <div th:text="${char.name}"></div>
        <div th:text="${char.source}"></div>
        <div th:text="${char.description}"></div>
    </div>
</div>
</body>
</html>